@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #4ab1ff, #2d5cfe);
}

.wrapper {
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.task-name-input i {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}

.task-name-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-name-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.task-name-input input:focus,
.task-name-input input.active {
  padding-left: 52px;
  border: 2px solid #3c87ff;
}
.task-name-input input::placeholder {
  color: #bfbfbf;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

.filters span.active {
  color: #3c87ff;
}

.clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
}



/* .task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
} */

.task-box {
  margin: 20px 25px;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task label {
  display: flex;
}

.task label input {
  /* margin-top: 7px; */
  margin-right: 12px;
}

.task .settings {
  cursor: pointer;
	position: relative;
}

.settings .task-menu {
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 0;
	z-index: 2;
	bottom: -65px;
	transform: scale(0);
	transform-origin: top right;
	transition: transform 0.2s ease;
	right: -5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.settings:hover .task-menu {
	transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.task-menu li:hover {
  background-color: #e7e7e7;
}

.task-menu li i {
  padding-right: 8px;
}
